*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0f0f0f;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:22px;
font-weight:700;
color:#ff3c3c;
}

nav a{
margin:0 15px;
text-decoration:none;
color:white;
}

.menu-btn{
display:none;
font-size:26px;
cursor:pointer;
}

.hero{
height:90vh;
background:
linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1558611848-73f7eb4001ab?auto=format&fit=crop&w=1600&q=60");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero h1{
font-size:55px;
margin-bottom:15px;
}

.hero p{
margin-bottom:25px;
}

.btn{
background:#ff3c3c;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:white;
}

.section{
padding:80px 10%;
}

.container{
display:flex;
gap:40px;
align-items:center;
}

.container img{
width:50%;
border-radius:10px;
}

.title{
text-align:center;
margin-bottom:40px;
font-size:35px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card{
background:#1b1b1b;
border-radius:10px;
overflow:hidden;
text-align:center;
padding-bottom:20px;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3{
margin:15px 0;
}

.plan{
background:#1b1b1b;
padding:30px;
text-align:center;
border-radius:10px;
}

iframe{
width:100%;
height:300px;
border:0;
margin-top:20px;
}

footer{
background:#111;
text-align:center;
padding:30px;
margin-top:40px;
}

@media(max-width:900px){

.container{
flex-direction:column;
}

.container img{
width:100%;
}

nav{
display:none;
flex-direction:column;
background:#111;
position:absolute;
top:70px;
right:0;
padding:20px;
}

nav.active{
display:flex;
}

.menu-btn{
display:block;
}

}
